#header{
    margin-top: 2rem;
    display: flex;
    header *{
        font-size: 2rem;
        margin: 0;
        color: rgba(var(--text-color) , 1);
    }
    header{
        box-shadow: 0 3px 6px rgba(var(--text-color) , .19), 0 3px 6px rgba(var(--text-color) , 0.23);
        background-color: rgba(var(--bg-color) , 1);
        margin-left: 3rem;
        padding: 5rem 3rem;
        transition: all 0.5s;
        &:hover{
            box-shadow: 0 10px 20px rgba(var(--text-color) , .19), 0 6px 6px rgba(var(--text-color) , 0.23);

        }
    }
    #last-one{
        display: flex;
        justify-content: space-around;
    }
    header div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header:last-of-type{
        flex-grow: 1;
        margin-right:6rem  ;
    }

    @media (max-width:1000px) {
        margin-top: 5rem;
        flex-direction: column;

        header *{
            text-align: center;
            font-size: 3rem;
        }
        header{
            margin: 0 4rem !important;
            padding: 6.5rem 3rem;
        }
        header:last-of-type{
            margin-top: 4rem !important;
        }
    }


}